doctype html
html
  head
    title Support 
    block scripts
    block style 
  body
    block content
    section#sponsorSection 
        |  POWERED BY RAZOR &copy
    img(src='../static/razor.png') 