<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--<title>Using plain HTML in PUG!</title>-->
  <title>#{title}</title>
  style
      include ../static/1.css
</head>
<body>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/">Contact</a></li>
    <li><a href="/">Buy</a></li>
  </ul>
  <h1>#{content2}</h1>
  <p>
  <!--|#{content}-->
  <form action="/" method="post" id="Buy">
  <input type="text" name="name" id="name" placeholder="Enter Name">
  <br>
  <input type="text" name="address" id="address" placeholder="Enter address">
  <br>
  <input type="text" name="pincode" id="pincode" placeholder="Enter Area Pincode">
  <br>
  <input type="text" name="Mobile" id="Mobile" placeholder="Enter Mobile Number">
  <br>
  <input type="text" name="Age" id="Age" placeholder="Enter age">
  </form>  
  <button id="btn">Place Order</button>
</>
</body>
</html>







